body {
  background-color: #aaa;
}
input {
  margin: 8px;
  padding: 5px;
}
label {
  font-family: 'Questrial';
  font-weight: bold;
}
div {
  background-color: #ffffff;
  display: flex;
  height: 300px;
  width: 250px;
}
